HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
**/.idle/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### spring ###

backend/gradle
backend/.gradle
backend/build
backend/.build.gradle
**/*.env
backend/docker/database/data 
backend/.idea/ 
backend/gradlew
backend/gradlew.bat
backend/settings.gradle
backend/build.gradle
backend/docker/db
backend/src/main/resources/application.properties
backend/src/main/resources/config/
backend/local.properties